* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: -30%;
}

.grid {
  box-shadow: 10px;
  color: black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  /* background-image: url("https://res.cloudinary.com/do68wjft3/image/upload/c_scale,h_500,w_500/v1604682246/cloud_hmvofs.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div {
  border: 1px solid black;
  height: 10%;
  width: 10%;
}

.grid-2 {
  box-shadow: 10px;
  color: black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.grid-2-container{
  display: flex;
  margin-top: 15%;
  justify-content: center;
}

.grid-2 p {
  border: 1px solid black;
  height: 10%;
  width: 10%;
}

.start-container{
  display: flex;
  position: absolute;
  margin-top: -80%;
}
.restart-container{
  display: flex;
  position: absolute;
  margin-top: -70%;
}
.game-over{
  display: flex;
  position: absolute;
  margin-top: -70%;
  font-size: 100px;
}

.bugOne {
  background-image: url('https://res.cloudinary.com/do68wjft3/image/upload/c_scale,h_255,w_255/v1604682912/bug1_xijrfs.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.bugTwo {
  background-image: url('https://res.cloudinary.com/do68wjft3/image/upload/c_scale,h_255,w_255/v1604681060/bug11_ziuga4.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.bugThree {
  background-image: url('https://res.cloudinary.com/do68wjft3/image/upload/c_scale,h_255,w_255/v1602756673/bug11_t39i66.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.bugFour {
  background-image: url('https://res.cloudinary.com/do68wjft3/image/upload/c_scale,h_250,w_250/v1604684957/ant-portable-network-graphics-vector-graphics-clip-art-insect-png-favpng-YA9smHRVPPv3iBgk075A4HyCG_qcvus2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.bugFive {
  background-image: url('https://res.cloudinary.com/do68wjft3/image/upload/c_scale,h_255,w_255/v1602756673/bug10_bfcwhu.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.bugSix {
  background-image: url('https://res.cloudinary.com/do68wjft3/image/upload/c_scale,w_255/v1602756673/bug_13_gfdpuw.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.bugSeven {
  background-image: url('https://res.cloudinary.com/do68wjft3/image/upload/c_scale,h_255,w_255/v1602756673/bug9_xmircf.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.bugEight {
  background-image: url('https://res.cloudinary.com/do68wjft3/image/upload/c_scale,h_255,w_255/v1602756673/bug2_iep8ry.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.bugNine {
  background-image: url('https://res.cloudinary.com/do68wjft3/image/upload/c_scale,w_255/v1602756673/bug6_dg01n8.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.bugTen {
  background-image: url('https://res.cloudinary.com/do68wjft3/image/upload/c_scale,h_255,w_300/v1604682605/bug10_qsjrk1.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.bugEleven {
  background-image: url('https://res.cloudinary.com/do68wjft3/image/upload/c_scale,h_1000,w_1000/v1604684525/bug11_ttken8.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.bugTwelve {
  background-image: url('https://res.cloudinary.com/do68wjft3/image/upload/c_scale,h_255,w_255/v1604681071/bug12_x4fzxw.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}